<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="TH 201 grading protal">
                    
                    <title>Novel</title>
                    
                    
                    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
                    <link rel="stylesheet" href="static/css/layouts/custom.css">
                        
                        <!--[if lte IE 8]>
                         
                         <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
                         
                         <![endif]-->
                        <!--[if gt IE 8]><!-->
                        
                        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
                            
                            <!--<![endif]-->
                            
                            
                            <!--[if lte IE 8]>
                             <link rel="stylesheet" href="css/layouts/styles-old-ie.css">
                             <![endif]-->
                            <!--[if gt IE 8]><!-->
                            <link rel="stylesheet" href="static/css/layouts/styles.css">
                                <!--<![endif]-->
                                
    </head>
    
    <body>
        
        {% block content %}
        {% endblock %}
        
        <div class="footer l-box is-center">
	  Novel © 2016
        </div>
        
        
    </body>
</html>
