{% extends 'base.html' %}

{% block content %}

{% set active_page = "home" %}

{% set navigation_bar = [
('/home', 'home', 'Home'),
('/addstory', 'addStory', 'Add Story'),
('/stories', 'findStory', 'Find a Story'),
('/logout', 'logout', 'Logout'),
] -%}

<link rel="stylesheet" href="../static/css/layouts/email.css">

<!-- load jQuery -->
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- include JS -->
<script type="text/javascript" src="/static/story.js"></script>

<!--
<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="/home">Novel</a>
    
    <ul class="pure-menu-list">
      {% for href, id, caption in navigation_bar %}
      <li class="pure-menu-item {% if id == active_page %}pure-menu-selected{% endif %}"><a href="{{ href|e }}" class="pure-menu-link">{{ caption|e }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
-->

<!--website body-->

<div id="layout" class="content pure-g buffer">
  
  <div id="nav" class="pure-u">
    <a href="/home" class="nav-menu-button">Menu</a>
    
    <div class="nav-inner">
      
      <div class="pure-u">
	<ul class="pure-menu-list">
	  <li class="pure-menu-item"><a href="/home" class="pure-menu-link">{{user}}</a></li>
	</ul>
      </div>
      
      <button class="primary-button pure-button" onclick="window.location='/addstory';">Add New Story</button>
      
      <div class="pure-menu">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/home" class="pure-menu-link">View Profile</a></li>
          <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
	  
          <li class="pure-menu-heading">Filter Feed</li>
          <li class="pure-menu-item"><a href="/home" class="pure-menu-link"><span class="email-label-personal"></span>All</a></li>
          <li class="pure-menu-item"><a href="/stories" class="pure-menu-link"><span class="email-label-work"></span>Your Stories</a></li>
          <li class="pure-menu-item"><a href="/home" class="pure-menu-link"><span class="email-label-travel"></span>Following</a></li>
        </ul>
      </div>
      
    </div>
  </div>
  
  <div id="list" class="pure-u-1">

    {% for content in contents %}
    <div class="email-item pure-g">
        <div class="pure-u-3-4">
            <h5 class="email-name">{{ content[2]|safe }} </h5>
            <h4 class="email-subject">{{ content[0]|safe }} </h4>
            <p class="email-desc">
            {{ content[1]|safe }}
            </p>
        </div>
    </div>
    {% endfor %}


  <!-- email-item-selected is a class in the email item -->
    
  </div>
  
  <div id="main" class="pure-u-1">
    <div class="email-content">
      <div class="email-content-header pure-g">
        <div class="pure-u-1-2">
          <h1 class="email-content-title">Suggestion: "Story Idea #1"</h1>
          <p class="email-content-subtitle">
          From <a> {{ user }} </a> at <span>3:56pm, October 3, 2016</span>
          </p>
        </div>
	
        <div class="email-content-controls pure-u-1-2">
          <button class="button-success pure-button">Upvote</button>
          <button class="button-error pure-button">Downvote</button>
          <button class="secondary-button pure-button">View Full Story -></button>
        </div>
      </div>
      
      <div class="email-content-body">
        <p>
          Test.

        </p>
      </div>
    </div>
  </div>
</div>

<script src="http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>

{% endblock %}
