{% extends 'base.html' %}

{% block content %}

{% set active_page = "login" %}
{% set navigation_bar = [
('/', 'main', 'Home'),
('/about', 'about', 'About'),
('/login', 'login', 'Login'),
('/register', 'register', 'Register')
] -%}

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Novel</a>
        
        <ul class="pure-menu-list">
            {% for href, id, caption in navigation_bar %}
            <li class="pure-menu-item {% if id == active_page %}pure-menu-selected{% endif %}"><a href="{{ href|e }}" class="pure-menu-link">{{ caption|e }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="content">
<div class=" l-box-lrg pure-g">
<div class="pure-u-1">

  <h1 class="content-head is-center">Login</h2>

  {% with msgs = get_flashed_messages() %}
  {% if msgs %}
  {%- for msg in msgs %}
  <div class="alert alert-info">
    {{ msg }}
  </div>
  {% endfor -%}
  {% endif %}
  {% endwith %}

  <form method="POST" class="pure-form pure-form-aligned">

    <fieldset>
        <legend><div class="content-subhead">Login to your account</div></legend>

      <div class="pure-control-group">
	<label for="uname">Username</label>
	<input name="uname" type="text" placeholder="Username">
      </div>

      <div class="pure-control-group">
	<label for="pw">Password</label>
	<input name="pw" type="password" placeholder="Password">
      </div>

      <button type="submit" class="pure-button pure-button-primary">Submit</button>

   </fieldset>

  </form>
  
</div>
</div>
</div>

{% endblock %}
