{% extends 'base.html' %}

{% block content %}
  <div class="splash-container">
    <div class="splash">
      <h1 class="splash-head">CSC 210 Milestone #2</h1>
      <p class="splash-subead">
	simple login/register for milestone #2
      {% with msgs = get_flashed_messages() %}
      {% if msgs %}
      {%- for msg in msgs %}
      <div class="alert alert-info">
	{{ msg }}
      </div>
      {% endfor -%}
      {% endif %}
      {% endwith %}
      </p>
      <p>
	<a href="/login" class="pure-button pure-button-primary">Login</a>
	<a href="/register" class="pure-button pure-button-primary">Register</a>
      </p>
    </div>
  </div>

{% endblock %}
