{% extends 'base.html' %}

{% block content %}


{% set active_page = "about" %}
{% set navigation_bar = [
('/', 'main', 'Home'),
('/about', 'about', 'About'),
('/logout', 'logout', 'Logout'),
('/register', 'register', 'Register')
] -%}

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Novel</a>
        
        <ul class="pure-menu-list">
            {% for href, id, caption in navigation_bar %}
            <li class="pure-menu-item {% if id == active_page %}pure-menu-selected{% endif %}"><a href="{{ href|e }}" class="pure-menu-link">{{ caption|e }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="content">
    <div class=" l-box-lrg pure-g">
        <div class="pure-u-1">
            
            <h1 class="content-head is-center">Welcome {{ user }}.</h2>
                
                <p>
A form will go here.                </p>

                    </div>
    </div>
</div>






{% endblock %}
