<html>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">

<head>

  <title>CSC 210 Project</title>

</head>

<body>

  <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">CSC210</a>

    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li class="pure-menu-selected"><a href="/">Home</a></li>
      <li class="pure-menu-selected"><a href="/logout">Logout</a></li>
    </ul>
    
  </div>

  <div class="content-wrapper">
    <h2 class="content-head is-center">Welcome {{user}} to the Gold Page</h2>

    <div class="pure-g-r">
      <p>
	Hi.
      </p>
      <p>
	<a href="/private2" class="pure-button pure-button-primary">Next</a>
      </p>
    </div>
  
  </div>

</body>

</html>
