{% extends 'base.html' %}

{% block content %}

  <h2 class="content-head is-center">Register</h2>

  {% with msgs = get_flashed_messages() %}
  {% if msgs %}
  {%- for msg in msgs %}
  <div class="alert alert-info">
    {{ msg }}
  </div>
  {% endfor -%}
  {% endif %}
  {% endwith %}


  <form method="POST" class="pure-form pure-form-aligned">
   
    <fieldset>
      <legend>Create your account</legend>

      <div class="pure-control-group">
	<label for="uname">Username</label>
	<input name="uname" type="text" placeholder="Username">
      </div>

      <div class="pure-control-group">
	<label for="pw">Password</label>
	<input name="pw" type="password" placeholder="Password">
      </div>
      
      <a href="/" class="pure-button pure-button-primary">Go back</a>
      <button type="submit" class="pure-button pure-button-primary">Register</button>
      
   </fieldset>

  </form>

{% endblock %}
